.container {
    display: flex;
    padding: 24px;
    gap: 24px;
    flex-direction: column;
}

.imageContainer{
    flex: 1;
    max-width: 500px; 
}
.infoContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


@media (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 60px;
        padding: 60px;
    }
}